.Header {
    max-height: 150px;
}

.header-wrapper, .categorias {
    margin: 0;
    width: 100%;
    display: flex;
}

.logo {
    max-width: 230px
}

.input-pesquisa {
    font-size: 1rem;
    color: #333;
    padding: 10px 25px;
    width: 90%;
    border: 1px solid #999;
    border-radius: 10px;
    margin: 0 10px;
}

.button-pesquisa {
    margin-left: -45px;
    font-size: 1.2rem;
    color: #333;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.itens-cabecalho {
    padding: 20px 0
}
.item-cabecalho {
    cursor: pointer;
}
.item-cabecalho i {
    color: #e87c08;
    font-size: 1.7rem;
    margin: 0 5px;
}
.item-cabecalho span {
    color: #777;
    font-size: 14px;
}
.item-cabecalho.cart span {
    font-size: 1rem;
    background-color: #222;
    color: #fff;
    border-radius: 100px;
    width: 20px;
    padding: 0 5px;
    margin-left: -15px;
    position: relative;
    top: -15px;
}

.categorias {
    justify-content: space-betwen;
}

.categorias-wrapper {
    background-color: #ffedd9;
}

.categoria-item {
    padding: 10px 5px;
    border-right: 1px solid #e87c08;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    color: #333;
    text-transform: uppercase;
}

.categoria-item:hover {
    background-color: #e87c08;
}

.categorias a {
    flex-grow: 1;
}

@media screen and (max-width: 720px) {
    .Header {
        max-height: 260px;
    }

    .header-wrapper {
        flex-direction: column;
    }

    .categorias {
        overflow-x: scroll;
        
    }

    .categoria-item:hover {
        background-color: #ffedd9;
    }
}

a {
    text-decoration: none;
    color: #000;
}

/* BENEFÃCIOS */

.Beneficios {
    padding: 25px;
    background: #ff9a08;
    margin-top: -4px;
}
.Beneficios i {
    color: #fff;
}
.Beneficios span {
    color: #1d1d1d;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: bold;
    margin-top: 10px;
}

/* PRODUTOS */
.Produtos-Pagina.Inicial {
    margin: 30px auto;
}

.Produtos-Pagina.Inicial > h2 {
    color: #222;
    font-size: 2rem;
    font-weight: bold;
}

.produto {
    cursor: pointer;
    margin: 10px;
    box-shadow: 0 0 4px #eee;
    flex-basis: calc(25% - 20px);
    padding: 15px;
    border-radius: 10px;
}

.produto:hover {
    box-shadow: 0 0 7px #ddd;
}

.produto-image { width: 250px; }

.produto-title {
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    color: #333;
}

.produto-preco h2, .produto-preco-promocao h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

.produto-preco.produto-por h2 {
    font-size: 1.1rem;
    text-decoration: line-through;
    color: #777;
    margin: 0;
}

.produto-preco-parcelado h4 {
    color: #666;
    font-size: 0.95rem;
}

/* PAGINACAO */

.Paginacao {
    margin: 10px 0 50px;
}

.paginacao-item {
    border: 1px solid #ccc;
    padding: 3px 8px;
    border-radius: 5px;
    color: #474747;
    margin: 0 5px;
    cursor: pointer;
}

.paginacao-item.paginacao-item-active,
.paginacao-item:hover {
    color: #fefefe;
    background-color: #333;
    border: 1px solid #333;
}

/* RODAPE */
.Rodape {
    background-color: #111111;
    padding: 60px 0;
    color: #fff;
}

.Rodape a {
    color: #ff9600;
}

.Rodape .pages-nav {
    color: #fff;
}

.Rodape i.fa {
    color: #fff;
}

.Rodape h2 {
    font-size: 1.3rem;
    color: #ff9600;
    font-weight: bold;
}

